@model string[]
@{
    ViewBag.Title = "Countries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Countries</h2>

<form>
    @if (Model.Length == 0)
    {
        using (Html.BeginForm())
        {
            for (var i = 0; i < 3; i++)
            {
                <div class="form-group">
                    <div>
                        <label>Country @(i + 1)</label>
                        @Html.TextBox("countries", null, new {@class ="form-control"}) 
                    </div>
                </div>
            }

            <button class="btn btn-primary" type="submit">Submit</button>
        }
    }
    else
    {
        foreach (var countries in Model)
        {
            <div class="form-group">
                <label class="form-control">@countries</label>
            </div>
        }

        @Html.ActionLink("Back", "Countries");
    }
</form>